body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    padding: 40px;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
}
nav {
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #1a73e8;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}
